# Visual Studio generali
*.obj
*.o
*.log
*.idb
*.pdb
*.ipdb
*.iobj
*.tlog
*.lastbuildstate
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# Build directories
/x64/Release/
/vs.proj/x64/Release/

# File compilati
*.dll
*.lib
*.exp
*.res
*.ilk

# Backup e editor
*~
*.tmp
*.swp

# Output di compilazione
*.Build.CppClean.log
*.recipe
*.FileListAbsolute.txt

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

.vs/

# Non includere file di plugin o risorse sorgente
!src/
!rsrc/